<!DOCTYPE html>
<html>
    <head>
        <title>Fact or Fantasy Football Podcast</title>
        <link rel='stylesheet' href='stylesheets/style.css'/>
        <link rel='stylesheet' href='stylesheets/teams/teams.css'/>
        <link rel="stylesheet" type="text/css" href="bower_components/font-awesome/css/font-awesome.css">


    </head>
    <body ng-app="app" ng-controller="MainController">

        <header class="page-header">
            <div class="page-flow-item wrapper disable"><a href="likes">Likes / Dislikes</a></div>
            <div class="page-flow-item wrapper" ng-click="goToUrl('cbs ranks')">CBSsports Rankings</div>
            <div class="page-flow-item wrapper" ng-click="goToUrl('nfl ranks')">NFL.com Rankings</div>
        </header>

        <div class="page-section wrapper image-container">

            <div class="bio">
                <div class="bio-image"></div>
                <div class="bio-text">{{ podMessage }}</div>
            </div>
            <div class="social">
                <span class="social-item">Email: FactOrFantasyPod@gmail.com</span>
                <span class="social-item fa fa-twitter-square" ng-click="goToTwitter('Brent')" aria-hidden="true">Brent</span>
                <span class="social-item fa fa-twitter-square" ng-click="goToTwitter('Jon')" aria-hidden="true">Jon</span>
            </div>


        </div>

        <div ui-view></div>

        <footer class="page-footer">
            <p>All content created by Brent Young and Jon Doyen in conjunction with the <strong>Fact or Fantasy Football Podcast</strong></p>
            <p>Logo design by Dustin Young</p>
            <p>Music for the podcast created and produced by Dustin Young and Ryan White</p>
        </footer>

        <script type='text/javascript' src='bower_components/angular/angular.min.js'></script>
        <script type='text/javascript' src='bower_components/angular-ui-router/release/angular-ui-router.min.js'></script>
        <script type='text/javascript' src='js/app.js'></script>
        <script type='text/javascript' src='js/controllers/MainController.js'></script>
        <script type='text/javascript' src='js/controllers/TeamController.js'></script>

    </body>
</html>
