
<div class="bracket-container" ng-controller="BracketController">

    <h2>2017 NFL Playoffs</h2>

    <select class="bracket_peep_chooser" name="peeps_chooser" ng-model="currentPeep">
        <option ng-repeat="peep in peeps" ng-if="brackets[peep].length !== 0">{{peep}}</option>
    </select>

    <div class="bracket_legend">
        <span>Rules and Points</span>
        <ul>
            <li><span class="fa fa-check-circle-o"> --> picked to win</span></li>
            <li>.5 points: Per correct team in a game</li>
            <li>1 point: Correct outcome of a game</li>
            <li class="round_winner">picked the winner</li>
            <li class="round_loser">picked the loser</li>
            <li class="round_neutral">did not pick this team to win</li>
        </ul>
    </div>

    <div ng-repeat="round in brackets[currentPeep]" class="bracket_round">

        <h3 class="round_name">{{round.name}}</h3>

        <div ng-repeat="game in round['games']" class="bracket_game">

            <div ng-repeat="team in game['teams']" class="bracket_team {{team.name}} with-border" ng-class="{round_winner: team.winner && team.name === game.actualWinner,
                round_loser: team.winner && team.name !== game.actualWinner && game.actualWinner !== '',
                round_neutral: !team.winner && game.actualWinner !== ''}">

                <div ng-class="{'fa fa-check-circle-o': team.winner}" aria-hidden="true">
                    <span>{{team.name}}</span>
                </div>

            </div>

        </div>

    </div>

</div>
