<div class="page-section teams-container" ng-controller="LikesController">

    <div ng-repeat="analyst in analysts" class="analyst-likes">
        <h2 class="likes-header">{{analyst}}'s Likes</h2>
        <div ng-repeat="player in likes[analyst]" class="like">
            <div class="player-image-container">
                <img ng-src="{{player.pic}}"/>
            </div>
            <div class="player-name likes-sub-head">{{player.name}} VS </div>
            <div class="{{player.opponent}} likes-sub-head">{{player.opponent}}</div>
        </div>
        <hr/>

        <h2 class="likes-header">{{analyst}}'s Dislikes</h2>
        <div ng-repeat="player in dislikes[analyst]" class="like">
            <div class="player-image-container">
                <img ng-src="{{player.pic}}"/>
            </div>
            <div class="player-name likes-sub-head">{{player.name}} VS </div>
            <div class="{{player.opponent}} likes-sub-head">{{player.opponent}}</div>
        </div>
        <hr/>
    </div>



</div>
