
<div class="teams-container">
    <h4>Bold Predictions</h4>
    <div>
        <ul>
            <li class="bold-prediction">Cleveland will beat Pittsburgh -- David</li>
            <li class="bold-prediction">Darren Sproles scores more fantasy points than Ryan Matthews -- David</li>
            <li class="bold-prediction">Marcus Mariota outscores Cam Newton by 2 points or less -- David</li>
            <li class="bold-prediction">Eli Rogers has 7 catches and over 100 yards -- Brent</li>
            <li class="bold-prediction">Jordan Reed and Vernon David both score a TD this week -- Brent</li>
        </ul>
    </div>
</div>


<div class="teams-container" ng-controller="TeamController">

    <div class="wrapper team-wrap">

        <div ng-repeat="record in records" class="tally-section">
            <div class="record-name">{{record.name}}</div>
            <div class="record-score">{{record.score[0]}} - {{record.score[1]}} - {{record.score[2]}}</div>
        </div>

    </div>

    <div class="homeaway-container">
        <span>Away</span>
        <div class="vs-ind">@</div>
        <span>Home</span>
    </div>

    <div ng-repeat="match in matchups track by $index" class="matchup">
        <div ng-repeat="team in match track by $index" class="team">
            <div ng-if="$index === 0" ng-class="{'team-img-left': $index === 0, 'team-img-right': $index === 1}">
                <img ng-src="{{teams[team].pic}}" alt="team image"/>
            </div>
            <div class="match-team {{team}} with-border" ng-class="{finished: finished[$parent.$index] === 1 && teams[team].win === 0, winner: teams[team].win === 1}">
                <div ng-if="teams[team].brent === 1" class="pickem brent-pick">B</div>
                <div ng-if="teams[team].david === 1" class="pickem david-pick">D</div>
                <div class="team-name">{{teams[team].name}}</div>
                <div ng-if="teams[team].jon === 1" class="pickem jon-pick">J</div>
            </div>
            <div ng-if="$index === 1" ng-class="{'team-img-left': $index === 0, 'team-img-right': $index === 1}">
                <img ng-src="{{teams[team].pic}}" alt="team image"/>
            </div>
        </div>
    </div>

</div>
