<div class="teams-container page-section" ng-controller="TeamController">

    <div class="page-section">

        <div ng-repeat="record in records" class="tally-section">
            <div class="record-name">{{record.name}}</div>
            <div class="record-score">{{record.score[0]}} - {{record.score[1]}}</div>
        </div>

    </div>

    <div ng-repeat="match in matchups" class="matchup">
        <div class="vs-ind">@</div>
        <div ng-repeat="team in match track by $index" class="team">
            <div ng-if="$index === 0" ng-class="{'team-img-left': $index === 0, 'team-img-right': $index === 1}">
                <img ng-src="{{teams[team].pic}}" alt="team image"/>
            </div>
            <div class="match-team {{team}} with-border">
                <div class="team-name">{{teams[team].name}}</div>
            </div>
            <div ng-if="$index === 1" ng-class="{'team-img-left': $index === 0, 'team-img-right': $index === 1}">
                <img ng-src="{{teams[team].pic}}" alt="team image"/>
            </div>
        </div>
    </div>

</div>
