doctype html
html
  head
    title=title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet' href='libs/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet' href='libs/font-awesome/css/font-awesome.min.css')

  body(class="container")
    block content
    
    script(type='text/javacript', src='libs/bootstrap/dist/js/bootstrap.min.js')
    script(type='text/javacript', src='libs/jquery/dist/jquery.min.js')
    script(type='text/javacript', src='libs/angular/angular.min.js')
