.player-image-container {

}

.player-image-container img {
    width: 100%;
    max-width: 100%;
    max-width: 600px;
    max-height: 400px;
}

.like {
    display: inline-block;
    width: 49%;
    padding: 1em;
    vertical-align: top;
}

.analyst-likes {
    text-align: center;
}

.likes-sub-head {
    padding: .2em;
    display: inline-block;
    font-weight: bold;
    font-size: 1.2em;
}

.likes-header {
    text-transform: capitalize;
}
