* {
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
	color: #232323;
	background: url("/images/bg.jpg");
	/*background-color: #404040;*/
	font-family: "proxima-nova",Arial,Helvetica,sans-serif;
	font-size: 16px;
	margin: 0 auto;
	min-width: 800px;
}

.background {

}

a {
  color: white;
  text-decoration: none;
}

strong {
	font-weight: bolder;
	font-size: 1em;
}

hr {
	color: white;
	margin-top: 3em;
	width: 85%;
}

.download-link {
	cursor: pointer;
	color: white;
	padding-left: 5em;
	font-size: 1.3em;
}

.download-link a {
	color: white;
}

.disable {
	opacity: .5;
	pointer-events: none;
}

.page-header a {
	color: white;
	text-decoration: none;
}

.fa-twitter-square::before {
	margin-right: .2em;
}

.social-item {
	margin-right: 1em;
	cursor: pointer;
}

.social-item:hover {
	color: aqua;
}

.social {
	position: absolute;
	bottom: -2em;
	font-weight: normal;
}

.image-container {
	position: relative;
	width: 50%;
    max-width: 50%;
	min-height: 200px;
	background-color: rgba(0, 0, 0, .5);
}

.bio-image {
	position: absolute;
    top: 1em;
    left: 1em;
    right: 0;
    bottom: 1em;
    background-image: url("/images/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 40%;
}

.bio-text {
	width: 59%;
    font-weight: normal;
    float: right;
    padding: 1em;
    padding-top: 0;
    line-height: 1.2;
}

.fade {
	opacity: .5;
}

.negative {
	color: red;
}

.positive {
	color: green;
}

.left {
	float: left;
}

.right {
	float: right;
}

.page-header {
	color: white;
	width: 100%;
	padding: 1em;
	padding-left: 2em;
}

.sidebar {
	margin-top: 1em;
	padding: 1em;
	max-width: 15%;
	width: 15%;
	display: inline-block;
	text-align: left;
	font-size: 1.25em;
	cursor: pointer;
	color: rgb(0, 105, 150);
	font-weight: bold;
}

.page-flow-item {
	display: inline-block;
	background-color: rgba(0, 0, 0, .5);
	cursor: pointer;
}

.page-flow-item:hover {
	-webkit-box-shadow: 3px 3px 21px 0px rgba(150, 150, 150, 1);
	-moz-box-shadow: 3px 3px 21px 0px rgba(150, 150, 150, 1);
	box-shadow: 3px 3px 21px 0px rgba(150, 150, 150, 1);
}

.page-section {
	padding: 1em;
	width: 80%;
	min-width: 800px;
	margin: auto;

}

.sub-header {
	position: absolute;
	top: 1em;
	right: 1em;
	color: white;
}

.page-left, .page-right {
	width: 49%;
	display: inline-block;
}

.page-right {
	float: right;
	text-align: right;
}

.player-card {
	background-color: white;
	border: 1px solid darkblue;
	color: black;
}

.player-card:hover {
	border-color: aqua;
}

.brand-select {
	padding: .5em;
    border-radius: 5px;
    margin-left: .5em;
    font-weight: bold;
    font-size: 1em;
	cursor: pointer;
}

.brand-select option {
	font-weight: bold;
}

.player-rank {
	font-weight: bold;
	color: black;
}

.left .player-rank, .left .player-diff, .left .player-watch, .left .player-sleeper {
	margin-right: 1em;
	width: 1em;
}

.right .player-rank, .right .player-diff, .right .player-watch, .right .player-sleeper {
	margin-left: 1em;
	width: 1em;
}

.player-watch {
	border: 2px solid #006996;
    padding: .25em;
    border-radius: 100%;
    color: #006996;
    text-align: center;
}

.player-sleeper {
	border: 2px solid #cc0099;
	padding: .25em .35em .25em .35em;
	color: #cc0099;
}

.legend span {
	font-weight: normal;
	border: none;
}

span.legend-player {
	font-weight: bold;
	text-transform: uppercase;
}


.legend {
	display: inline-block;
	vertical-align: sub;
}

.page-section .section-header {
	margin-bottom: 0;
	padding-bottom: 0;
}

.wrapper {
	margin-top: 2em;
	margin-bottom: 2em;
	padding: 1em;
	color: white;
	font-weight: bold;
	border-radius: 5px;
}

.container {
	-webkit-box-shadow: 3px 3px 21px 0px rgba(0,0,0,1);
	-moz-box-shadow: 3px 3px 21px 0px rgba(0,0,0,1);
	box-shadow: 3px 3px 21px 0px rgba(0,0,0,1);
    padding: 1em;
	margin-top: .5em;
    border-radius: 5px;
}

.page-footer {
    color: white;
    font-size: .625em;
    text-align: center;
    padding: 1em;
	margin: auto;
	margin-bottom: -.5em;
    margin-top: 5em;
}

.page-footer p {
	margin: .2em;
}
