* {
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
	color: #232323;
	font-family: "proxima-nova",Arial,Helvetica,sans-serif;
	font-size: 16px;
	margin: 0 auto;
	min-width: 800px;
	background-color: rgba(255, 255, 255, .3);
}

a {
  color: #00B7FF;
}

strong {
	font-weight: bolder;
	font-size: 1em;
}

html {
  background: url(/images/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.fade {
	opacity: .5;
}

.negative {
	color: red;
}

.positive {
	color: green;
}

.left {
	float: left;
}

.right {
	float: right;
}

.page-header {
	color: white;
	background-color: rgba(50, 50, 50, .5);
	width: 100%;
	padding: 1em;
	padding-left: 2em;
}

.page-section {
	padding: 1em;
	width: 75%;
	margin: auto;
	min-width: 800px;
}

.sub-header {
	position: absolute;
	top: 1em;
	right: 1em;
	color: white;
}

.page-left, .page-right {
	width: 49%;
	display: inline-block;
}

.page-right {
	float: right;
	text-align: right;
}

.player-card {
	background-color: white;
	border: 1px solid darkblue;
	color: black;
}

.player-card:hover {
	border-color: aqua;
}

.brand-select {
	padding: .5em;
    border-radius: 5px;
    margin-left: .5em;
    font-weight: bold;
    font-size: 1em;
	cursor: pointer;
}

.brand-select option {
	font-weight: bold;
}

.player-rank {
	font-weight: bold;
	color: black;
}

.left .player-rank, .left .player-diff, .left .player-watch, .left .player-sleeper {
	margin-right: 1em;
	width: 1em;
}

.right .player-rank, .right .player-diff, .right .player-watch, .right .player-sleeper {
	margin-left: 1em;
	width: 1em;
}

.player-watch {
	border: 2px solid #006996;
    padding: .25em;
    border-radius: 100%;
    color: #006996;
    text-align: center;
}

.player-sleeper {
	border: 2px solid #cc0099;
	padding: .25em .35em .25em .35em;
	color: #cc0099;
}

.legend span {
	font-weight: normal;
	border: none;
}

span.legend-player {
	font-weight: bold;
	text-transform: uppercase;
}


.legend {
	display: inline-block;
	vertical-align: sub;
}


.ranks-header-item {
	display: inline-block;
	margin-right: 2em;
}

.wrapper {
	margin-top: 1em;
	padding: 1em;
	background-color: rgba(50, 50, 50, .5);
	color: white;
	font-weight: bold;
	border-radius: 5px;
}

.container {
	-webkit-box-shadow: 3px 3px 21px 0px rgba(0,0,0,1);
	-moz-box-shadow: 3px 3px 21px 0px rgba(0,0,0,1);
	box-shadow: 3px 3px 21px 0px rgba(0,0,0,1);
    padding: 1em;
	margin-top: .5em;
    border-radius: 5px;
}

.page-footer {
	background-color: darkblue;
	margin-bottom: -.5em;
	color: white;
	font-size: .625em;
	text-align: center;
	padding: 1em;
}

.page-footer p {
	margin: .2em;
}
