.teams-container {
    padding: 3em;
    margin-top: 3em;
    color: white;
}

.match-team {
    font-size: 1.3em;
    font-weight: bold;
    width: 79%;
    display: inline-block;
    text-align: center;
    padding: .625em;
}

.matchup {
    padding: .2em;
    position: relative;
    margin: auto;
    margin-bottom: .2em;
    width: 75%;
    min-width: 800px;
}

.vs-ind {
    position: absolute;
    left: 48%;
    font-size: 1em;
    top: 25%;
    background: black;
    padding: .3em;
    border: 2px solid white;
    border-radius: 100px;
}

.team-name {
    vertical-align: middle;
}

.team {
    width: 50%;
    display: inline-block;
}

.team-img-left, .team-img-right {
    max-width: 18%;
    display: inline-block;
    vertical-align: middle;
}

.team-img-left img, .team-img-right img {
    width: 100%;
    height: auto;
}

.team-img-right {
    /*float: right;*/
}

.cardinals {
    background-color: #B0063A;
    color: white;
    box-sizing: border-box;
}

.cardinals.with-border {
    border: 2px solid white;
}

.jets {
    background-color: #29433A;
    color: white;
    box-sizing: border-box;
}

.jets.with-border {
    border: 2px solid white;
}

.texans {
    background-color: #00143F;
    color: white;
    box-sizing: border-box;
}

.texans.with-border {
    border: 2px solid #C9243F;
}

.colts {
    background-color: #003A70;
    color: white;
    box-sizing: border-box;
}

.colts.with-border {
    border: 2px solid white;
}

.packers {
    background-color: #2A433A;
    color: white;
    box-sizing: border-box;
}

.packers.with-border {
    border: 2px solid #FFC20E;
}

.cowboys {
    background-color: #002A5C;
    color: white;
    box-sizing: border-box;
}

.cowboys.with-border {
    border: 2px solid white;
}

.vikings {
    background-color: #4E2683;
    color: white;
    box-sizing: border-box;
}

.vikings.with-border {
    border: 2px solid #FFC62F;
}

.seahawks {
    background-color: #002A5C;
    color: white;
    box-sizing: border-box;
}

.seahawks.with-border {
    border: 2px solid #77C25F;
}

.falcons {
    background-color: #C9243F;
    color: white;
    box-sizing: border-box;
}

.falcons.with-border {
    border: 2px solid black;
}

.raiders {
    background-color: #000000;
    color: white;
    box-sizing: border-box;
}

.raiders.with-border {
    border: 2px solid #BBC4CA;
}

.chiefs {
    background-color: #E51937;
    color: white;
    box-sizing: border-box;
}

.chiefs.with-border {
    border: 2px solid white;
}

.patriots {
    background-color: #002A5C;
    color: white;
    box-sizing: border-box;
}

.patriots.with-border {
    border: 2px solid #DA2128;
}

.bengals {
    background-color: #F04E23;
    color: white;
    box-sizing: border-box;
}

.bengals.with-border {
    border: 2px solid white;
}

.dolphins {
    background-color: #008E97;
    color: white;
    box-sizing: border-box;
}

.dolphins.with-border {
    border: 2px solid #F58220;
}

.steelers {
    background-color: #2F2F2F;
    color: white;
    box-sizing: border-box;
}

.steelers.with-border {
    border: 2px solid #FFC20E;
}

.lions {
    background-color: #006DB0;
    color: white;
    box-sizing: border-box;
}

.lions.with-border {
    border: 2px solid #B0B7BC;
}

.rams {
    background-color: #002A5C;
    color: white;
    box-sizing: border-box;
}

.rams.with-border {
    border: 2px solid #C6A876;
}

.bears {
    background-color: #00123F;
    color: white;
    box-sizing: border-box;
}

.bears.with-border {
    border: 2px solid #F26522;
}

.jaguars {
    background-color: black;
    color: white;
    box-sizing: border-box;
}

.jaguars.with-border {
    border: 2px solid #006576;
}

.saints {
    background-color: #1C1C1C;
    color: white;
    box-sizing: border-box;
}

.saints.with-border {
    border: 2px solid #9F8958;
}

.panthers {
    background-color: #000016;
    color: white;
    box-sizing: border-box;
}

.panthers.with-border {
    border: 2px solid #0099D9;
}

.giants {
    background-color: #003D7E;
    color: white;
    box-sizing: border-box;
}

.giants.with-border {
    border: 2px solid #C9243F;
}

.ravens {
    background-color: #2C2E8C;
    color: white;
    box-sizing: border-box;
}

.ravens.with-border {
    border: 2px solid #D2AA41;
}

.titans {
    background-color: #4495D1;
    color: white;
    box-sizing: border-box;
}

.titans.with-border {
    border: 2px solid #DA2128;
}

.browns {
    background-color: #FF3C00;
    color: white;
    box-sizing: border-box;
}

.browns.with-border {
    border: 2px solid #311D00;
}

.redskins {
    background-color: #681D13;
    color: white;
    box-sizing: border-box;
}

.redskins.with-border {
    border: 2px solid black;
}

.eagles {
    background-color: #004C54;
    color: white;
    box-sizing: border-box;
}

.eagles.with-border {
    border: 2px solid black;
}

.ers {
    background-color: #C8AA76;
    color: white;
    box-sizing: border-box;
}

.ers.with-border {
    border: 2px solid #C9243F;
}

.bills {
    background-color: #005496;
    color: white;
    box-sizing: border-box;
}

.bills.with-border {
    border: 2px solid #DA2128;
}

.buccaneers {
    background-color: #D50A0A;
    color: white;
    box-sizing: border-box;
}

.buccaneers.with-border {
    border: 2px solid #B1BABF;
}

.broncos {
    background-color: #00295B;
    color: white;
    box-sizing: border-box;
}

.broncos.with-border {
    border: 2px solid #F26522;
}

.chargers {
    background-color: #00295B;
    color: white;
    box-sizing: border-box;
}

.chargers.with-border {
    border: 2px solid #FFC20E;
}

.with-border {
    border-radius: 5px;
}
